.category-header {
    cursor: pointer;
    font-weight: bold;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
  }
  
  .category-content {
    padding-left: 20px;
    border-left: 2px solid #ccc;
    margin-bottom: 10px;
  }


  .container_list{
    list-style: none;
    // color: #D3D5D6;
    // color: #000000;

    .container_list-item{
        .btn{
            color: #2E3640;
            border: 1px solid #D4D5D8;
            display: flex;
            align-items: center;
        }
    }
  }