<div class="container">
  <ul class="container_list">
    <li class="container_list-item">
      <div class="btn">
        <input type="checkbox"><span>список</span> 
      </div>
    
    </li>
  </ul>

  <ul>
    @for( item of list(); track item.name){
      <li>{{item.name}}</li>
    }
  </ul>
</div>


<!-- @for(category of categories; track category.name){
  
  <div (click)="toggleCategory(category.id)" class="category-header">
      {{ category.name }}
      <span>{{ category.expanded ? '▲' : '▼' }}</span>
  </div>
  @if(category.expanded){
      <div class="category-content">
          @for(item of category.items; track item){
              {{item}}
          }
      </div>

  }
  
} -->
