
  <div class="container" >
    @if(!isOpen()){
      <div class="container_list" (click)="toggleList()">
        <div class="container_list-item">
          <span class="btn" (click)="openList()">
            {{ isClickOutside() ? selectionCount() + ' воронки, 24 этапа' : 'список' }}
          </span>
        </div>
      </div>
    }
    @if(isExpanded()){
    <ul class="container_list" (clickOutside)="clickOutside()">
      <li class="container_list-item" [style.display]="'flex'">
        @if(isOpen()||isChecked()){
          <input
            type="checkbox"
            [checked]="isChecked()"
            (change)="isChecked() ? deselectAllItems() : selectAllItems()"
          />
          <span class="container_list-item-title btn">
            {{ isChecked() ? 'Снять выделение' : 'Выбрать всё' }}
          </span>
      
          }
      </li>
      @if(isOpen()){
        @for( item of list(); track item.name){
          <li class="container_list-item" [ngClass]="addedMinMaxClass(item)" >
            <div class="list-content" [style.backgroundColor]="item.bgColor">
              <input type="checkbox" [checked]="item.choice" (change)='toggleItemSelection($event,item)'>
              <div class="container_list-item-name" (click)="toggleCategory(item.id)">
                <span [style.color]="item.color">{{item.name}}</span>
              </div>
            </div>
            <div [ngClass]="expandCollapse(item)">
              @for(data of item.items; track data){
                  {{data}}
              }
          </div>
          </li>
        }
      }

    </ul>
   }
  </div>
